body
{
  margin:0px;
}
a
{
  color:black;
  text-decoration:none;
}
h1
{
  font-size:100px;
  text-align:center;
  border-bottom:1px solid gray;
  margin:0px;
  padding:20px;
}
ol
{
  border-right: 1px solid gray;
  margin:0px;
  padding-left: 33px;
  padding-top: 20px;
}
h2
{
  font-size: 30px
}
p
{
  font-size: 15px;
  margin-bottom: 50px;
}
li
{
  font-size: 20px;
}
img                     /*img의 커서 모양을 클릭 모양으로 바꿔줌.*/
{
  cursor: pointer;
  width: 25%;
  height: 5%;
}
#grid
{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#article
{
  padding-left: 20px;
  padding-right:20px;
  padding-bottom: 20px;
}
@media(max-width:800px)   /*창의 넓이가 800px보다 작을 경우*/
{
  #grid
  {
    display: block;
  }
  h1
  {
    border: none;
  }
  ol
  {
    border: none;
  }
}
@media (max-width:600px)  /*창의 넓이가 600px보다 작을 경우*/
{
  body
  {
    background-color:coral;
  }

}
